body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  margin-bottom: 2em;
}

/* toolbar logo style */
.logo-top {
    max-height: 20px;
}
/* user button */
.userButton {
    /* margin-right: 20px; */
}

.navbar .nav {
  font-size: 120%;
}

a.question {
  padding: 0.2em;
}

hr.small {
  margin-top: 10px;
  margin-bottom: 10px;
}

p.abstract, p.section {
  font-family: serif;
  /* text-align: justify; */
  line-height: 1.3;
  word-wrap: break-word;
}

p.abstract {
  padding-left: 2em;
  padding-right: 2em;
  /* font-style: italic; */
}

ol.inline, ul.inline {
  margin-left: 0;
}

ol {
  margin-left: 2em;
}

ul:not(.nav) li, ol:not(.nav) li {
  line-height: 1.2;
  margin-bottom: .3em;
}

input {
  margin-bottom: 0 !important;
}

.table td {
  line-height: 1.3;
}

/*
 * ol, ul {
 *   margin-left: 0;
 * }
 * 
 * ol.inline, ul.inline {
 *   margin-left: 0;
 * }
 * 
 * ol:not(.inline) li, ul:not(.inline) li {
 *   margin-left: 2em;
 * }
 */

.selected {
  background-color: #dd4814;
  color: white;
  border-radius: 4px;
}

.selected:hover {
  background-color: #dd4814;
  color: white;
  border-radius: 4px;
}

.pagination {
  text-align: center;
}

.concept-group .concept {
  margin-left: 18px;
}

a {
  cursor: pointer;
}

h1, h2 {
 color: #999;
 font-size: 300%;
 line-height: 1.4em;
}

h2 {
 font-size: 180%;
}

h3 {
 color: #777;
 font-size: 120%;
 line-height: 1.4em;
}

/* annotation stuff */
.annotation-buttons {
    padding-bottom: 10px;
}

.answer-caption {
    padding-bottom: 5px;
}

.golden, .golden input, .golden textarea {
  /* background-color: #f3c768 !important; */
  background-color: #ffdd88 !important;
  border-radius: 4px;
}

.snippet-annotation {
  /* background-color: #f368c7; */
  background-color: #ffdd88;
  border-radius: 0.4em;
  padding: 0 2px;
}

.answer-buttons {
    text-align: right;
}

.answer-text {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: solid 1px #000;
}

/* search results from source style */
.search-source {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.search-source .span3 {
    text-align: right;
}

.search-source .span3 a {
    padding-right: 16px;
}

/* search result in specific source style */
.search-result .span8 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 16px;
    margin-bottom: 5px;
    /*border: 1px solid #aaa;
    border-left: none;
    border-right: none;
    border-top: none;
    /* border */
    /*-webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;*/
}

.search-result .span2 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 16px;
    margin-bottom: 5px;
    margin-left: 0;
    text-align: right;
    /*border: 1px solid #aaa;
    border-left: none;
    border-right: none;
    border-top: none;
    /* border */
    /*-webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;*/
}

.search-result .span8 .more-info {
    padding-left: 20px;
}

.separator {
    border: 1px solid #aaa;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-left: 100px;
    margin-right: 100px;
}

/* result info style */
.search-result-info .span7 {
    padding-top: 5px;
    padding-bottom: 5px;
    /* border */
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-result-info .span2 {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    /* border */
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* hidden search results */
.conceptResult { display: none; }
.documentResult { display: none; }
.statementResult { display: none; }

/* question title stuff */
#questionTitle {
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#saveQuestionTitle {
    margin-left: 5px;
}
#questionTitleInput {
    width: 40%;
}

ul.inline > li, ol.inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
