<div data-ng-include="'views/partials/navigation.html'"></div>

<div class="container" data-ng-if="!question">
  <div class="alert alert-error">
    <strong>Error!</strong> No question selected.
  </div>
</div>

<div class="container" data-ng-if="message">
  <div class="alert alert-{{message.type}}">
    {{message.text}}
  </div>
</div>

<div class="container" data-ng-show="question">
  <div class="row">
    <h2 class="span" style="color:#999">{{question.body}}</h2>
    <hr class="span12">
  </div>
  <div class="row">
    <ul class="inline pull-right">
      <li data-ng-if="question.finalized">
        <span class="is-finalized">Question finalized &#x2713;</span>
      </li>
      <li>
        <button class="btn" style="width:15em"
                data-ng-click="setFinalized(!question.finalized)">
          <span data-ng-if="question.finalized">Unfinalize Question</span>
          <span data-ng-if="!question.finalized">&#x2713; Save &amp; Finalize Question</span>
        </button>
      </li>
      <li>
        <button data-ng-disabled="question.finalized"
                class="btn btn-success"
                data-ng-click="saveQuestion()">Save Question</button>
      </li>
    </ul>
  </div>

  <div class="row">&nbsp;</div>

  <div class="row" data-ng-if="question.type!='summary'">
    <div class="span12">
      <h3>Exact answer</h3>
      <div data-ng-switch="question.type">
        <div data-ng-switch-when="yesno">
          <label>
            <input data-ng-disabled="question.finalized" type="radio" data-ng-model="question.answer.exact" value="yes" style="margin:-5px 8px 0 0"/>
            Yes
          </label>
          <label>
            <input data-ng-disabled="question.finalized" type="radio" data-ng-model="question.answer.exact" value="no" style="margin:-5px 8px 0 0"/>
            No
          </label>
        </div>
        <div data-ng-switch-when="factoid">
          <ul class="inline" style="display:inline-block">
            <li data-ng-repeat="e in question.answer.exact track by $index">
              <input data-ng-disabled="question.finalized" type="text" data-ng-model="question.answer.exact[$index]">
            </li>
          </ul>
          <button data-ng-disabled="question.finalized || !canAddSynonym()" title="Add a synonym" class="btn"
              data-ng-click="addSynonym()">
            <i class="icon-chevron-right"></i>
          </button>
        </div>
        <div data-ng-switch-when="list">
          <ul>
            <li data-ng-repeat="e in question.answer.exact">
              <ul style="display:inline-block" class="inline" data-ng-init="parentIndex=$index">
                <li data-ng-repeat="ee in e track by parentIndex-$index">
                  <input data-ng-disabled="question.finalized" type="text" data-ng-model="question.answer.exact[parentIndex][$index]">
                </li>
              </ul>
              <button data-ng-disabled="question.finalized || !canAddSynonym(parentIndex)" title="Add a synonym" class="btn"
                  data-ng-click="addSynonym(parentIndex)">
                <i class="icon-chevron-right"></i>
              </button>
            </li>
          </ul>
          <button data-ng-disabled="question.finalized || !canAddEntry()" title="Add a new list entry" class="btn"
             data-ng-click="addEntry()">
            <i class="icon-chevron-down"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">&nbsp;</div>

  <div class="row" data-ng-if="question.type!='summary'">
    <div class="span12">
      <h3>System responses</h3>
      <div data-ng-switch="question.type">
        <div data-ng-switch-when="factoid">
          <ul>
            <li data-ng-repeat="s in question.answer.systemResponses">
              <ul style="display:inline-block" class="inline" data-ng-init="parentIndex=$index">
                <li data-ng-repeat="a in s track by parentIndex-$index">
                  {{a}}
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div data-ng-switch-when="list">
          <ul>
            <li data-ng-repeat="a in question.answer.systemResponses">
              <ul style="display:inline-block" class="inline" data-ng-init="parentIndex=$index">
                <li data-ng-repeat="aa in a track by parentIndex-$index">
                  {{aa.join(', ')}}
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div> <!-- container -->
