<div data-ng-include="'views/partials/navigation.html'"></div>
<div class="container">
  <div class="row">
    <h1 style="text-align:center">Pick a question <sup style="font-size: 0.5em;">or create a new one</sup></h1>
    <hr class="span12"/>
  </div>

  <div class="row">
    <div class="span pull-right">
      <ul class="inline">
        <li>
          <button data-ng-if="mode=='annotation'" class="btn" data-ng-click="newQuestion()">
            <i class="icon-plus"></i>
            Add Question
          </button>
        </li>
        <li>
          <button class="btn btn-primary" data-ng-disabled="!question||editing" data-ng-click="proceed()">
            <i class="icon-chevron-right"></i>
            Proceed
          </button>
        </li>
    </div>
  </div>

  <div class="row">
    <div class="span5">
      <table class="table table-bordered" data-ng-if="questions.length">
        <tr data-ng-repeat="question in questions"
            data-ng-class="{selected: isSelected(question)}"
            data-ng-click="selectQuestion(question)"
            style="cursor:pointer">
          <td style="width:2em;text-align:right">{{$index + 1}}.</td>
          <td>{{question.body}}</td>
          <td style="width:20px" data-ng-init="publication = question.publication[0] || 'p'">
            <span title="Publication livel">{{ publication | uppercase }}</span>
          </td>
        </tr>
      </table>
    </div>

   <div class="span7">
        <label>Question ID</label>
        <input type="text" disabled="true" data-ng-model="question._id"></input>
  </div>
   <div class="span7" data-ng-if="question && mode=='annotation'">
      <form>
        <label style="margin-top:.9em">Question text</label>
        <textarea placeholder="Question &hellip;" rows="5" class="span7"
                  data-ng-disabled="!$parent.editing"
                  data-ng-model="question.body"
                  required></textarea>
        <label>Question type</label>
        <select data-ng-model="question.type" data-ng-disabled="!editing" required>
          <option value="yesno">Yes/No</option>
          <option value="factoid">Factoid</option>
          <option value="list">List</option>
          <option value="summary">Summary</option>
        </select>
          <div class="pull-right">
            <ul class="inline">
              <li data-ng-if="mode=='annotation'" data-ng-show="!$parent.editing">
                <button class="btn" data-ng-click="deleteQuestion(question)">
                  <i class="icon-trash"></i>
                  Delete
                </button>
              </li>
              <li data-ng-show="!$parent.editing">
                <button class="btn" data-ng-click="editQuestion(question)">
                  <i class="icon-edit"></i>
                  Edit
                </button>
              </li>
              <li data-ng-show="$parent.editing">
                <button class="btn" data-ng-click="cancelEditing()">
                  Cancel
                </button>
              </li>
              <li data-ng-show="$parent.editing">
                <button class="btn btn-success" data-ng-click="saveQuestion()">
                  Save
                </button>
              </li>
            </ul>
          </div>
      </form>
    </div>
  </div>
  <!--
     - <div class="offset1 span10">
     -   <hr/>
     -   <div class="row">
     -     <span class="span10">
     -       <select class="span10" style="margin-bottom:0px;"
     -               ng-model="question"
     -               ng-options="question.body for question in questions">
     -       </select>
     -     </span>
     -   </div>
     -   <div class="row">
     -     <button data-ng-if="mode=='annotation'" class="btn" href="#newQuestionModal" data-toggle="modal" id="addQuestion">
     -       <i class="icon-plus"></i>New Question
     -     </button>
     -     <a class="btn" data-ng-click="editing=!editing">Edit Question</a>
     -     
     -   </div>
     - </div>
     - <div class="offset1 span10 well" style="margin-top:5em" data-ng-if="editing && question">
     - </div>
     -->
</div>
