<div data-ng-include="'views/partials/navigation.html'"></div>
<div class="container" data-ng-if="!question">
  <div class="alert alert-error">
    <strong>Error!</strong> No question selected.
  </div>
</div>
<div class="container" data-ng-show="question"
     data-ng-init="spinnerConfig={lines:13,length:4,width:2,radius:4,top:17,left:9}">
<!-- <div class="container"> -->
  <div class="row">
    <h2 class="span" style="color:#999">{{question.body}}</h2>
    <hr class="span12">
  </div>

  <div class="row">
    <div class="span6">
      <input class="span5" type="text" placeholder="Query &hellip;" style="margin-bottom: 0px;" data-ng-model="terms">
      <button class="btn" type="button" data-ng-click="search()">Search</button>
    </div>
    <div class="span1"></div>
    <div class="span5">
      <select class="span5"
              data-ng-model="terms"
              data-ng-options="query.terms as query.terms for query in queries | filter:termsAreSet"
              data-ng-change="search()"
              style="margin-bottom: 0px;">
              <option style="display:none" value="">Query history</option>
            </select>
    </div>
  </div>

  <div class="row">&nbsp;</div>

  <!-- concept search results -->
  <div class="row">
    <a href="" class="span12" data-ng-click="conceptsShown=!conceptsShown">
      <span data-spin="spinnerConfig" spin-if="conceptsPending"></span>
      <div class="search-source">
        Concepts
        <span data-ng-if="concepts">({{pages.concepts.all}})</span>
        <span data-ng-if="pages.concepts.message">&mdash; {{pages.concepts.message}}</span>
      </div>
    </a>
    <div class="span12" data-collapse="!conceptsShown">
      <div data-ng-show="concepts" class="row" style="margin-top:10px;margin-bottom:20px">
        <div class="offset1 span">
          <div class="btn-group">
            <button data-ng-repeat="(name, count) in sources"
                    class="btn btn-primary"
                    data-ng-class="{ active: pages.conceptSources['{{name}}'] }"
                    data-ng-click="setConceptSource(name)">{{name}} ({{count}})
            </button>
          </div>
        </div>
        <!--
           - <div class="span2">
           -   <button class="btn btn-primary"
           -           data-ng-class="{ active: groupByLabel}"
           -           data-ng-click="groupByLabel = !groupByLabel">Group by Label</button>
           - </div>
           -->
      </div>
      <table class="table table-bordered table-hover" data-ng-if="concepts">
        <tr>
          <th style="width:50%">Matched label</th>
          <th style="width:3.5em">Score</th>
          <th style="width:50%">Canonical label</th>
          <th style="width:20px"></th>
          <th style="width:20px"></th>
        </tr>
        <tr data-ng-repeat="concept in concepts">
          <td data-ng-bind-html="concept.match | highlight:concept.ranges"></td>
          <td>{{concept.score | number:4}}</td>
          <td>{{concept.title | strip}}</td>
          <td>
            <a href="{{concept.uri}}" class="btn btn-mini" target="_blank" title="Show concept on the Web">
              <i class="icon-share-alt"></i>
            </a>
          </td>
          <td>
            <button class="btn btn-mini"
                    data-ng-disabled="!question"
                    data-ng-click="toggleSelection(concept)">
              <i data-ng-class="{ 'icon-minus': isSelected(concept), 'icon-plus': !isSelected(concept) }"></i>
            </button>
          </td>
        </tr>
      </table>
      <div data-ng-if="concepts && pages.concepts.total > pages.size"
           class="pagination" data-pagination
           data-max-size="5"
           data-boundary-links="true"
           data-items-per-page="pages.size"
           data-total-items="pages.concepts.total"
           data-page="pages.concepts.current"></div>
    </div>
  </div>

  <!-- document search results -->
  <div class="row results-container">
    <a class="span12" data-ng-click="documentsShown=!documentsShown">
      <span data-spin="spinnerConfig" spin-if="documentsPending"></span>
      <div class="search-source">
        Documents
        <span data-ng-if="documents">({{pages.documents.total}})</span>
        <span data-ng-if="pages.documents.message">&mdash; {{pages.documents.message}}</span>
      </div>
    </a>
    <div class="span12" data-collapse="!documentsShown">
      <table style="margin-top:10px;margin-bottom:20px"
             class="table table-bordered table-hover"
             data-ng-if="documents">
        <tr>
          <th>Title</th>
          <!-- <th style="width:3.5em">Score</th> -->
          <th style="width:20px"></th>
          <th style="width:20px"></th>
        </tr>
        <tr data-ng-repeat="document in documents">
          <td data-ng-click="infoShown=!infoShown">
            {{document.title}}
            <div data-collapse="!infoShown">
              <h4>{{document.title}}</h4>
              <p class="abstract">{{document.abstract}}</p>
              <p class="section" data-ng-repeat="section in document.sections">{{section}}</p>
            </div>
          </td>
          <!-- <td>{{document.score | number:4}}</td> -->
          <td>
            <a href="{{document.uri}}" class="btn btn-mini" target="_blank" title="Show document on the Web">
              <i class="icon-share-alt"></i>
            </a>
          </td>
          <td>
            <button class="btn btn-mini"
                    data-ng-disabled="!question"
                    data-ng-click="toggleSelection(document)">
              <i data-ng-class="{ 'icon-minus': isSelected(document), 'icon-plus': !isSelected(document) }"></i>
            </button>
          </td>
        </tr>
      </table>
      <div data-ng-if="documents && pages.documents.total > pages.size"
           class="pagination" data-pagination
           data-max-size="5"
           data-boundary-links="true"
           data-items-per-page="pages.size"
           data-total-items="pages.documents.total"
           data-page="pages.documents.current"></div>
    </div>
  </div>

  <!-- statement search results -->
  <div class="row results-container">
    <a class="span12" data-ng-click="statementsShown=!statementsShown">
      <span data-spin="spinnerConfig" spin-if="statementsPending"></span>
      <div class="search-source">
        Statements
        <span data-ng-if="statements">({{pages.statements.total}})</span>
        <span data-ng-if="pages.statements.message">&mdash; {{pages.statements.message}}</span>
      </div>
    </a>
    <div class="span12" data-collapse="!statementsShown">
      <table style="margin-top:10px;margin-bottom:20px"
             class="table table-bordered table-hover"
             data-ng-if="statements">
        <tr>
          <th>Statement</th>
          <!-- <th style="width:3.5em">Score</th> -->
          <th style="width:20px"></th>
        </tr>
        <tr data-ng-repeat="statement in statements">
          <td data-ng-click="infoShown=!infoShown">
            {{statement.title}}
            <div data-collapse="!infoShown">
              <p>
              <div class="triple" data-ng-repeat="triple in statement.triples">
                {{triple.s | rdf}} {{triple.p | rdf}} {{triple.o | rdf}} .
              </div>
              </p>
            </div>
          </td>
          <!-- <td>{{statement.score | number:4}}</td> -->
          <td>
            <button class="btn btn-mini"
                    data-ng-disabled="!question"
                    data-ng-click="toggleSelection(statement)"
                    title="Add {{statement.triples.length || 0}} triples">
              <i data-ng-class="{ 'icon-minus': isSelected(statement), 'icon-plus': !isSelected(statement) }"></i>
            </button>
          </td>
        </tr>
      </table>
      <div data-ng-if="statements && pages.statements.total > pages.size"
           class="pagination" data-pagination
           data-max-size="5"
           data-boundary-links="true"
           data-items-per-page="pages.size"
           data-total-items="pages.statements.total"
           data-page="pages.statements.current"></div>
    </div>
  </div>
</div>
